<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--<property name="hibernate.connection.release_mode=after_statement"></property>-->
        <!--<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>-->
       <!--&lt;!&ndash; <property name="hibernate.connection.url">jdbc:mysql://localhost:3306</property>&ndash;&gt;-->
        <!--<property name="hibernate.connection.username">root</property>-->
        <!--<property name="connection.pool_size">1</property>-->
        <!--<property name="current_session_context_class">thread</property>-->
        <!--<property name="show_sql">true</property>-->
        <!--<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>-->
        <!--<property name="connection.password">392155Op</property>-->
        <!--<property name="hibernate.connection.url">jdbc:mysql:///cafe</property>-->
        <!--<property name="hibernate.cache.use query cash">true</property>-->
        <!--&lt;!&ndash;        <property name="show_sql">true</property>&ndash;&gt;-->
        <!--&lt;!&ndash;        <mapping jar="hibernate-mappings.jar"/> &ndash;&gt;-->


        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">gfhjkm</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/cafe</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>

        
        <mapping class="com.cursova.entity.Product"/>
        <mapping class="com.cursova.entity.Dish"/>
        <mapping class="com.cursova.entity.Order"/>
        <mapping class="com.cursova.entity.Recipes"/>
        <mapping class="com.cursova.entity.Users"/>
        <mapping class="com.cursova.entity.Address"/>
        <mapping class="com.cursova.entity.DishMenu"/>

    </session-factory>
</hibernate-configuration>